@import '../../variables';

@mixin border-styling {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-style: double;
  border-color: goldenrod;
}

// __________Bookmark Component__________//
.bookmark {
  @include flex-center;
  @include background-image-style;
  @include border-styling;
  flex-direction: column;
  text-align: center;
  background-image: url(~/public/images/fabric.jpg);
  width: 15%;
  height: 60vh;
  padding: 2% 1% 10% 1%;
  margin: 1.5% 4% 6% 4%;
  color: $text;
  ul {
    @include list-styling;
    height: 50vh;
    overflow-y: scroll;
    font-size: 15px; // investigate responsive numbers here, instead of fixed
    li {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0%;
  }
  @media screen and (max-width: $tabletScreenSize) {
    margin-top: 0%;
  }
}

// --mask: conic-gradient(from -62.5deg at bottom,#0000,#000 1deg 124deg,#0000 125deg) 50%/115.26px 100%;
// -webkit-mask: var(--mask);
//         mask: var(--mask);
