@import '../../variables';

// __________Header Component__________//
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  ul {
    display: flex;
    // flex-direction: row;
    list-style: none;
    align-items: center;
    li {
      cursor: pointer;
      margin: 0 10px;
    }
    .login-greeting {
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: $tabletScreenSize) {
      ul{
        margin: 2px 0px;
      }
  }
}



// @media screen and (max-width: 786px) {
// .header {
//   ul{
//     margin: 2px 0px;
//   }
// }
// }