@mixin list-styling {
    list-style: none;
    align-items: center;
    li{
      cursor: pointer;
    }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin input-styling {
  background-color: rgba(235, 205, 167, 0.152);
  color: $text;
  width: 70%;
}

@mixin background-image-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

$phoneScreenSize: 320px;
$tabletScreenSize: 768px;
$text: white;

// Bookmark

//   height: 55vh;
//   overflow-y: scroll;
//   font-size: 15px; // investigate responsive numbers here, instead of fixed
//   li {
//     margin-top: 1vh;
//     margin-bottom: 1vh;
//   }


// Header

//   display: flex;
//   li {
//     margin: 0 10px;
//   }



// Memorize
// ul {
//   width: 100%;
// }