:root {
  --page: rgba(186, 158, 55, 0.141);
  --text: white;
  --glow1: #e6a500;
  --glow2: #ffd54d;
  --glow3: #008ae6;
  --glow4: #4d59ff;
  --glow5: #e66b00;
  --glow6: #b02222;
}

@font-face {
  font-family: SidheNoble;
  src: url(../public/fonts/SidheNoble-m2dj.ttf);
}

body {
  background-color: var(--page);
  font-family: SidheNoble;
  font-size: 20px;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  // background-image: url(../public/images/parchment.jpg);
  background-image: url(../public/images/book.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text);
}

.main {
  display: flex;
  flex-direction: row;
  
}

// __________Header Component__________//
.header {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    li {
      cursor: pointer;
      margin: 0 10px;
    }
    .login-greeting {
      display: flex;
      align-items: center;
    }
  }
}

// __________Bookmark Component__________//
.bookmark {
  width: 15%;
  height: 60vh;
  padding: 2% 1% 10% 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url(../public/images/fabric.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-color: rgb(129, 9, 9);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-style: double;
  border-color: goldenrod;
  margin: 6% 4% 0% 4%;
  color: var(--text);
  ul {
    list-style: none;
    height: 55vh;
    overflow-y: scroll;
    font-size: 15px;
    li {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
  }
}
.mainBody {
  width: 100%;
}

.content {
  display: flex;
  // justify-content: space-around;
}

// __________Create Component__________//
.create {
  padding: 5%;
  margin: 5%;
  input, textarea {
    background-color: rgba(235, 205, 167, 0.152);
    color: var(--text);
    width: 70%;
  }
  input {
    height: 20px;
  }  
}

// __________Footer Component__________//
.footer {
  width: 100%;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

// __________Show Component__________//
.spellShow {
  width: 60%;
  padding: 2%;
  margin: 4% 5% 4% 5%;
  text-align: left;
  height: 70vh;
  overflow-y: scroll;
  p {
    white-space: pre-wrap;
    font-size: 18px;
  }
  input, textarea, button {
    background-color: rgba(235, 205, 167, 0.152);
    color: var(--text);
    width: 70%;
  }
  input {
    height: 20px;
  }  
}
.spellDescription {
  font-family: 'Times New Roman', Times, serif;
  height: 40vh;
  overflow-y: scroll;
}

.middleContent {
  display: flex;
  flex-direction: row;
}
// __________Memorize Component__________//
.memorize {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 4% 1% 4% 1%;
  width: 40%;
  // height: 60vh;
  overflow-y: scroll;
  ul {
    width: 100%;
    list-style: none;
  }
  // background-image: url(../public/images/parchment.jpg);
}

// __________Link Styling__________//
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

a {
  padding: 1%;
  color: var(--text);
}

// __________Glow Effect__________//

// .glowConst {
//   color: var(--text);
//   text-align: left;
//   -webkit-animation: glowConst 1s ease-in-out infinite alternate;
//   -moz-animation: glowConst 1s ease-in-out infinite alternate;
//   animation: glowConst 1s ease-in-out infinite alternate;
// }
// @-webkit-keyframes glowConst {
//   from {
//     text-shadow: 0 0 5px var(--text), 0 0 15px var(--text), 0 0 10px var(--glow1), 0 0 25px var(--glow1), 0 0 250px var(--glow1), 0 0 300px var(--glow1), 0 0 40px var(--glow1);
//   }
  
//   to {
//     text-shadow: 0 0 10px var(--text), 0 0 20px var(--glow2), 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2);
//   }
// }