// Importing Component scss Files //
@use 'components/Bookmark/bookmark';
@use 'components/Create/create';
@use 'components/Header/header';
@use 'components/Footer/footer';
@use 'components/Memorize/memorize';
@import 'variables';

@font-face {
  font-family: SidheNoble;
  src: url(../public/fonts/SidheNoble-m2dj.ttf);
}

body {
  font-family: SidheNoble;
  font-size: 20px;
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../public/images/book.jpg);
  @include background-image-style;
  color: $text;
}

.main, .content {
  display: flex;
}

.mainBody {
  width: 100%;
}

// __________Link Styling__________//
a:link, a:visited, a:hover, a:active {text-decoration: none;}
a {
  padding: 1%;
  color: $text;
}

// __________Show Component__________//
.spellShow {
  width: 60%;
  padding: 2%;
  margin: 10% 5% 4% 5%;
  text-align: left;
  height: 70vh;
  overflow-y: scroll;
  p {
    white-space: pre-wrap;
    font-size: 18px;
  }
  input, textarea, button {
    @include input-styling;
  }
  input {
    height: 20px;
  }  
}

.showTable, .spellDescription {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

.middleContent {
  display: flex;
  flex-direction: row;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#memorize-btn {
  height: min-content;
  width: min-content;
  padding: 2%;
}

:root {
  --page: rgba(186, 158, 55, 0.141);
  --text: white;
  --glow1: #e6a500;
  --glow2: #ffd54d;
  --glow3: #008ae6;
  --glow4: #4d59ff;
  --glow5: #e66b00;
  --glow6: #b02222;
}

// __________Glow Effect__________//

.glowConst, .glow:hover {
  color: var(--text);
  text-align: left;
  -webkit-animation: glowConst 1s ease-in-out infinite alternate;
  -moz-animation: glowConst 1s ease-in-out infinite alternate;
  animation: glowConst 1s ease-in-out infinite alternate;
}
// @keyframes glowConst {
// // @-webkit-keyframes glowConst {
//   from {
//     text-shadow: 0 0 5px var(--text), 0 0 15px var(--text), 0 0 10px var(--glow1), 0 0 25px var(--glow1), 0 0 250px var(--glow1), 0 0 300px var(--glow1), 0 0 40px var(--glow1);
//   }
      
//   to {
//     text-shadow: 0 0 10px var(--text), 0 0 20px var(--glow2), 0 0 20px var(--glow2), 0 0 30px var(--glow2), 0 0 40px var(--glow2), 0 0 50px var(--glow2), 0 0 60px var(--glow2);
//   }
// }
@keyframes glowConst {
// @-webkit-keyframes glowConst {
  from {
    text-shadow: 0 0 5px var(--text), 0 0 15px var(--text), 0 0 10px var(--glow5), 0 0 25px var(--glow5), 0 0 250px var(--glow5), 0 0 300px var(--glow5), 0 0 40px var(--glow5);
  }
      
  to {
    text-shadow: 0 0 10px var(--text), 0 0 20px var(--glow6), 0 0 20px var(--glow6), 0 0 30px var(--glow6), 0 0 40px var(--glow6), 0 0 50px var(--glow6), 0 0 60px var(--glow6);
  }
}
        
        // @media screen and (max-width: 1024px) {
          //   .bookmark {
            //     margin-top: 0%;
            //   }
            // }
            // @media screen and (max-width: 786px) {
              //   .bookmark {
                //     margin-top: 0%;
                //   }
                //   .header {
                  //     ul{
                    //       margin: 2px 0px;
                    //     }
                    //   }
                    // }